doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w==" crossorigin="anonymous")

  body 
    .container 
      h1 toasts
      button#liveToastBtn.btn.btn-primary(type='button') Show live toast

      hr

      button.btn_mult.btn.btn-primary(type='button') Show live toast 1
      button.btn_mult.btn.btn-primary(type='button') Show live toast 2
      button.btn_mult.btn.btn-primary(type='button') Show live toast 3

    .position-fixed.bottom-0.end-0.p-3(style='z-index: 11')
      .toast#liveToast(data-bs-delay="2000")
        .toast-header
          img.rounded.me-2(src='https://picsum.photos/20/20')
          strong.me-auto Bootstrap
          small 11 mins ago
          button.btn-close(type='button' data-bs-dismiss='toast' aria-label='Close')
        .toast-body Hello, world! This is a toast message.
    
    .toast-container.position-fixed.bottom-0.end-0.p-3
      .toast#toast1
        .toast-header
          img.rounded.me-2(src='...' alt='...')
          strong.me-auto Bootstrap
          small.text-muted just now
          button.btn-close(type='button' data-bs-dismiss='toast')
        .toast-body
          | See? Just like this.
      .toast#toast2
        .toast-header
          img.rounded.me-2(src='...' alt='...')
          strong.me-auto Bootstrap
          small.text-muted 2 seconds ago
          button.btn-close(type='button' data-bs-dismiss='toast')
        .toast-body
          | Heads up, toasts will stack automatically
      .toast#toast3
        .toast-header
          img.rounded.me-2(src='...' alt='...')
          strong.me-auto Bootstrap
          small.text-muted 2 seconds ago
          button.btn-close(type='button' data-bs-dismiss='toast')
        .toast-body
          | Heads up, toasts will stack automatically



    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.js" integrity="sha512-GQk/YTeRwD0dTnM//plfcWnGTGqGt0FB33mRTcbcuVneAi5ZrdOA28EpJltqF9lwr/0jRUEcE6yYV7duc1MEVw==" crossorigin="anonymous")
    script.
      const toastTrigger = document.getElementById('liveToastBtn')
      const toastLiveExample = document.getElementById('liveToast')
      if (toastTrigger) {
        toastTrigger.addEventListener('click', function () {
          const toast = new bootstrap.Toast(toastLiveExample)

          toast.show()
        })
      }
      //- 
      const btnMult = document.querySelectorAll('.btn_mult')
      for(let i = 0; i < btnMult.length; i++){
        btnMult[i].addEventListener('click', () => {
          const toast = new bootstrap.Toast(document.querySelector(`#toast${i+1}`), {
            delay: 1000
          })
          
          console.log(toast)
          toast.show()
        })
      }