html,
body {
  height: 100%;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.h-100 {
  height: 100%;
}

/* header 導覽列 ------------------------- */
#header {
  width: 75%;
  height: 60px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5)) drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  z-index: 9999;
}

#header .menu {
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 0;
  background: url('../images/nav-bg-full.jpg') repeat-x center;
  position: relative;
  top: 25px;
  z-index: -1;
}

#header .menu li {
  font-size: 1rem;
  display: inline-block;
  padding: 1rem 0;
}

#header .menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1.5rem;
  transition: 0.5s;
}

#header .menu li a:hover {
  background: rgba(255, 60, 0, 0.3);
}

#header .menu li:nth-child(3) {
  margin-right: 15%;
}

/* logo */
#header .logo {
  width: 15%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#header .logo img {
  width: 100%;
}

#header .menu::before {
  content: '';
  width: 12px;
  height: 60px;
  position: absolute;
  background: url('../images/nav-bg-left.png') no-repeat left top / cover;
  left: -10px;
}

#header .menu::after {
  content: '';
  width: 12px;
  height: 60px;
  position: absolute;
  background: url('../images/nav-bg-right.png') no-repeat right top / cover;
  right: -10px;
}

#section01 {
  background: url('../images/section01-bg.jpg') no-repeat center / cover;
  position: relative;
}

#section01 .main-news {
  width: 100%;
  text-align: center;

  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#section01 .main-news h1 {
  font-size: 2rem;
  font-style: italic;
  color: yellow;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1), 0 0 10px rgba(0, 0, 0, 1), 0 0 15px rgba(0, 0, 0, 1);
}

/* section02 遊戲介紹 ------------------------ */

#section02 {
  background: url('../images/section02-bg.jpg') no-repeat center / cover;
}

#section02 .container {
  height: 100%;
  position: relative;
}

#section02 .row {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0;
}

#section02 .col {
  box-sizing: border-box;
  width: 50%;
  display: inline-block;
  font-size: 1rem;
  padding: 5rem 1rem;
  color: #fff;
}

#section02 .col h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#section02 .col p {
  line-height: 1.5;
  text-indent: 2rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

#section02 .col iframe {
  width: 100%;
  height: 300px;
  border: 5px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.8);
}

/* section03 角色列表 ----------------------- */
#section03 {
  background: linear-gradient(45deg, #222 40%, #aaa 40%);
}

#section03 .col:nth-child(1) {
  height: 65%;
}

#section03 .col:nth-child(2) {
  height: 35%;
}

#section03 .role_info .role {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  float: left;
  padding: 5rem 1.5rem 0;
}

#section03 .role_info .role img {
  width: 100%;
  height: 100%;
}

#section03 .role_info .info {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  float: right;
  padding: 8rem 1rem 5rem;
}

#section03 .role_info .info h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

#section03 .role_info .info p {
  padding: 0.5rem 0;
  line-height: 1.2;
}

#section03 .role_info > div {
  display: none;
  height: 100%;
}

#section03 .role_info input {
  display: none;
}

#section03 .role_info input:checked + div {
  display: block;
}

/* 下方角色清單大區塊 */
#section03 .role_list {
  font-size: 0;
  text-align: center;
}

#section03 .role_list label {
  width: 7%;
  display: inline-block;
  margin: 0 0 5px 0;
  cursor: pointer;
  transition: 0.5s;
}

#section03 .role_list img {
  width: 100%;
}

#section03 .role_list label:hover {
  filter: drop-shadow(0 0 5px rgb(255, 0, 0)) drop-shadow(0 0 10px rgb(255, 0, 0));
}

#section03 .role_list label:nth-child(4) ~ label {
  filter: brightness(40%);
  cursor: auto;
}

/* footer ---------------------------------- */
#footer {
  background: #000;
  color: white;
  padding: 2rem 0;
}

#footer .row {
  overflow: auto;
}

#footer .row .col {
  width: 25%;
  float: left;
}

#footer .card {
  padding: 1rem;
}

#footer h1 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

#footer li {
  line-height: 1.4;
  padding-left: 1.5rem;
}

#footer .card h3 {
  margin: 1rem 0;
}

#footer .card i {
  width: 30px;
  font-size: 1.3rem;
  margin-right: 10px;
}

#footer .copyright {
  text-align: center;
  padding: 2rem;
}
